/* Google Web Fonts - Manrope400 */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
  background-color: #ccc;
}

* {
  color: #333;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}