@import url(reset.css);

header {
  background-color: #fff;
  box-shadow: 5px 0 15px #00000022;

}

nav {
  width: 1100px;
  height: 70px;
  margin: auto;
  text-align: center;
}

nav > div {
  height: 70px;
  line-height: 70px;
}

.logo {
  float: right;
}

.logo a {
  width: 35px;
}

.logo a img {
  width: inherit;
}

.gnb {
  float: left;
}

.gnb a {
  margin: 10px;
}

.lnb {
  float: left;
}

.lnb a {
  color: #fff;
  padding: 3px 10px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: teal;

}
