@import url(reset.css);

header {
  background-color: #fff;
  box-shadow: 5px 0 15px #00000022;

}

nav {
  width: 1100px;
  margin: auto;
  text-align: center;
}

nav > div {
  height: 70px;
  line-height: 70px;
}

.logo {
  float: left;
}

.logo a {
  width: 35px;
}

.logo a img {
  width: inherit;
}

.logo span {
  margin-left: 10px;
}

.gnb {
  width: 700px;
  display: inline-block;
  /* 
  Compared to display: block, the major difference is that display: inline-block does not add a line-break after the element, so the element can sit next to other elements.
  */
}

.gnb a {
  margin: 10px;
}

.lnb {
  float: right;
}

.lnb a {
  color: #fff;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: teal;

}
